@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-primary text-primary;
  }
}

#root {
  background-image: url("src/assets/artwork/elephant_banner.webp");
  position: relative;
  z-index: 1;
  background-size: auto 150%;
  background-position: top right;
  @apply bg-contain bg-no-repeat;
  height: 100vh;
}

.b1 {
  @apply border-2 border-double border-pink;
}
.b2 {
  @apply border-yellow border-2;
}
.b3 {
  @apply border-4 border-dotted border-blue;
}
.b4 {
  @apply border-cyan border-4 border-double;
}
