@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-primary text-primary;
  }
}

#elephant {
  background-image: url("@assets/artwork/elephant_banner.webp");
  position: relative;
  z-index: 1;
  background-position: top right;
  @apply bg-contain bg-no-repeat;
  width: 100%;
  height: 100%;
}
#elephant::after {
  content: "";
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0%;
  height: 10%; /* Hauteur du fondu */
  background: linear-gradient(to top, rgb(0, 101, 233) 30%, transparent);
  z-index: -1;
}

.b1 {
  @apply border-2 border-double border-pink;
}
.b2 {
  @apply border-2 border-yellow;
}
.b3 {
  @apply border-4 border-dotted border-blue;
}
.b4 {
  @apply border-4 border-double border-cyan;
}
